body {
    font-family: sans-serif;
    background: #fffaf4;
    color: #444;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 120px;
    color: #444;
}

.text {
    font-size: 30px;
}

button {
    font-size: 25px;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background: #ffe080;
    cursor: pointer;
}

#filter button {
    font-size: 30px;
    padding: 16px 24px;
    margin: 5px;
    border-radius: 12px;
}

#filter {
    text-align: center;
    /* ボタンを中央揃えに */
    margin-top: 20px;
}

.back-button {
    margin: 40px;
    padding: 16px 24px;
    background-color: #ffe080;
    color: #333;
    text-decoration: none;
    border-radius: 12px;
    font-size: 30px;
    transition: background 0.2s;
    float: left;
}

.back-button:hover {
    background-color: #aaaaff;
}